.shopping {
    display: grid;
    grid-template-columns: 1fr 10rem;
    gap: 1rem;
    margin: 1rem;
    width: 100vw;

    & .content {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    & hr {
        border: none;
        border-top: 1px solid #e0e0e0;
        width: 100%;
    }

    & .shoppingHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    & .cart {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 0 1rem;
    }


    & .articles {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    }
}
