

.productCard {
    border-radius: 1rem;
    padding-bottom: .3rem;
    max-width: 16rem;
}

.productImg {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
}

.productDescription {
    margin: 10px;
}

.buttonsContainer {
    display: flex;
    margin: 10px;
}

.buttonMinus {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px 0px 0px 5px;
    font-size: 20px;
    width: 30px;
}

.buttonMinus:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.countLabel {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    font-size: 16px;
    height: 25px;
    padding-top: 5px;
    text-align: center;
    width: 30px;
    margin: 0;
}

.buttonAdd {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 0px 5px 5px 0px;
    font-size: 20px;
    width: 30px;
}

.buttonAdd:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.disabled {
    border-color: gray !important;
    color: gray !important;
    border-left: 1px solid white !important;
}
